{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Suffolk Democratic Committe, Virginia</title>
        {% if tougblog.COLORSCHEME %}
            {% with tougblog.COLORSCHEME as colorscheme %}
                <link rel="stylesheet" href="{% static 'tougblog/tougblog_' %}{{ tougblog.COLORSCHEME }}.css">
            {% endwith %}
        {% else %}
            <link rel="stylesheet" href="{% static 'tougblog/tougblog.css' %}">
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          
    </head>
    <body>
        <div id="head">
            <a href="{% url 'tougblog:homepage' %}"><img src="{{ tougblog.BANNER_IMAGE }}"></a>
        </div>
        <div id="menubar">
            <a href="{% url 'tougblog:homepage'  %}">Home</a> 
            <a href="{% url 'tougblog:page' 'executive-committee' %}">Executive Committee</a> 
            <a href="{% url 'tougblog:page' 'join-us' %}">Join Us</a> 
            <a href="{% url 'tougblog:page' 'contact-us' %}">Contact Us</a> 
        </div>
        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {{ tougblog.FOOTER_CONTENT }}
        </div>
    </body>
</html>