{% extends './_base.html' %}
{% block content %}
<div id="post_detail" class="detail">
    <div class="title post_title">
        <h2>
            {{ post.title }}
        </h2>
    </div>
    {% if post.show_author or post.show_created %}
        <div class="meta post_meta">
            {% if post.show_author %}
                {{ post.author|default_if_none:'&nbsp;' }}
            {% endif %}
            {% if post.show_author and post.show_created %} - {% endif %}
            {% if post.show_created %} 
                {{ post.created|default_if_none:'&nbsp;' }} 
            {% endif %}
        </div>
    {% endif %}
    <div class="content post_content">
        {{ post.content | safe }} 
    </div>

</div>

{% endblock %}