{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Suffolk Democratic Committe, Virginia</title>
        <link rel="stylesheet" href="{% static 'sdchomepage/sdchomepage.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          
    </head>
    <body>
        <div id="head">
            <a href="{% url 'sdchomepage:homepage' %}"><img src="{% static 'sdchomepage/sdchomepage.png' %}"></a>
        </div>
        <div id="menubar">
            <a href="{% url 'sdchomepage:homepage'  %}">Home</a> 
            <a href="{% url 'sdchomepage:page' 'executive-committee' %}">Executive Committee</a> 
            <a href="{% url 'sdchomepage:page' 'join-us' %}">Join Us</a> 
            <a href="{% url 'sdchomepage:page' 'contact-us' %}">Contact Us</a> 
        </div>
        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {{ footer }}
        </div>
    </body>
</html>