{% extends './_base.html' %}
{% block content %}
<div id="sdchomepage">
<div id="content">
    <div id="columns">
        {% for p in places %}
            {% if forloop.first %}
                <div id="place_first" class="place">
                    {% for post in p.posts %}
                        <div class="post">
                            {% if post.title_image %}
                                <div class="post_image">
                                    <a href="{% url 'sdchomepage:post' post.pk %}"><img src="{{ post.title_image.file.url }}"></a>
                                </div>
                            {% endif %}
                            <div class="post_title"><h3><a href="{% url 'sdchomepage:post' post.pk %}">{{ post.title }}</a></h3></div>
                            {% if p.show_author or p.show_created %}
                                <div class="post_meta">
                                    {% if p.show_author %}
                                        <div class="author">{{ post.author|default_if_none:'&nbsp;' }}</div>
                                    {% endif %}
                                    {% if p.show_created %} 
                                        <div class="created">{{ post.created|default_if_none:'&nbsp;' }}</div> 
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="post_summary">
                                {{ post.summary | safe }}
                            </div>
                        </div>
                    {% endfor %}        
                </div>
            {% else %}
                {% if p.count  %}
                    <div id="place_{ forloop.counter0}" class="place">
                        <div class="place_title"><h3>{{ p.title }}</h3></div>
                            {% for post in p.posts %}
                                <div class="post_title"><h4><a href="{% url 'sdchomepage:post' post.pk %}">{{ post.title }}</a></h4></div>
                                {% if p.show_author or p.show_created %}
                                    <div class="post_meta">
                                        {% if p.show_author %}
                                            {{ post.author|default_if_none:'&nbsp;' }}
                                        {% endif %}
                                        {% if p.show_author and p.show_created %} - {% endif %}
                                        {% if p.show_created %} 
                                            {{ post.created|date:'M d Y'|default_if_none:'&nbsp;' }} 
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="post_summary">
                                    {{ post.summary | safe }}
                                </div>
                            {% endfor %}        
                        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div id="place_last" class="place">
            <div class="place_title"><h3>Events</h3></div>
            {% for event_date in event_dates %}
                <div class="event_date"><h4>{{ event_date.whenday|date:'D d M Y' }}</h4></div>
                <div class="event_title"><h5>{{ event_date.event.starttime|default_if_none:'' }} <a href="{% url 'sdchomepage:event' event_date.event.pk %}">{{ event_date.event.title }}</a></h5></div>
                <div class="event_summary">{{ event_date.event.summary | safe }}</div>
            {% endfor %}            
        </div>
    </div>
</div>
</div>
<script>
    columns=document.querySelectorAll('#columns>.place')
    if ( columns.length == 1 ) {
        columns[0].style.width = "100%"
    } 
    else {
        unit_width = 100 / ( columns.length + 1 )
        for(column of columns ) {
            column.style.width = unit_width + "%"
        }
        columns[0].style.width = unit_width * 2 + "%"
    }
</script>
<script>

async function getGCalEvents () {
    try {
        const calendarId = 'c_6c014c01b653827e5176890fbfea60d4d5396cc1729ad6fca0c093a68c98cc4c@group.calendar.Google.com'
        const myKey = 'AIzaSyBlVlO2-YbuAHzUtqvWtYSgAIZ1NVh0IQI'
        //using await and fetch together as two standard ES6 client side features to extract the data
        let apiCall = await fetch('https://www.Googleapis.com/calendar/v3/calendars/' + calendarId + '/events?key=' + myKey)
        //response.json() is a method on the Response object that lets you extract a JSON object from the response
        //response.json() returns a promise resolved to a JSON object
        let response = await apiCall.json()
//        console.log(apiResponse)
        return response
    } catch (error) {
        console.log(error)
    }
}
function listGCalEvents(response) {
    console.log(response)
    event_list = document.getElementById('event_list')
    for(item of response.items) {
        item_title=document.createElement('h4')
        item_title.innerText=item.summary
        item_div = document.createElement('div')
        item_div.appendChild(item_title)
        event_list.appendChild(item_div)
    }
}

// getGCalEvents().then(response => {
//     listGCalEvents(response)
// })
</script>
{% endblock %}